.show-card {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  background-color: rgb(251, 248, 248);
  padding: 10px;
}

.show-flex {
  display: flex;
  /* background: yellowgreen; */
  justify-content: center;
}

.left-card {
  /* background-color: tan; */
  width: 60%;
}

.right-card {
  /* background-color: aqua; */
  width: 25%;
}

.card {
  margin-bottom: 20px;
}
